<div cdkDropList
    [cdkDropListData]="tasks"
    class="list-items"
    (cdkDropListDropped)="drop($event)">
    <div  *ngFor="let task of tasks" class="task-item" cdkDrag>
        <mat-card (click)="showTaskDialog(task.id)">
            {{task.title}}
        </mat-card>
    </div>
    <div class="placeholder" *cdkDragPlaceholder></div>
</div>
<div [hidden]="!submitted" class="task-item">
    <button mat-button (click)="submitted=!submitted" class="add-task">
        <span mat-icon class="material-icons md-light">add</span>
        <span>Add card</span>
    </button>
</div>
<div [hidden]="submitted" class="task-item">
    <form [formGroup]="form" (ngSubmit)="addTask()">
        <mat-form-field appearance="fill" class="add-task-form">
            <textarea matInput placeholder="Enter a title for this card…" formControlName="title" ></textarea>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" type="submit">Add card</button>
            <button mat-icon-button type="button" (click)="onClose()">
                <mat-icon class="material-icons md-light">clear</mat-icon>
            </button>
        </div>
    </form>
</div>