<div *ngIf="board">
    <div class="board-header">
        <div class="board-name">
            <h2 *ngIf="nameUpdated; else input" (click)="nameUpdated=!nameUpdated" class="board-name-text">{{board.name}}</h2>
            <ng-template #input>
                <mat-form-field appearance="outline" class="board-name-input">
                    <input type="text" matInput placeholder="Name" [(ngModel)]="board.name" (blur)="onBlur()">
                </mat-form-field>
            </ng-template>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="members">
            <div *ngFor="let user_board of board.User_Boards" class="member">
                <span class="member-initials">{{user_board.User.email.charAt(0) | uppercase}}</span>
            </div>
        </div>
        <div class="invite">
            <app-invite-popover [boardId]="board.id">
            </app-invite-popover>
        </div>
    </div>
    <div cdkDropListGroup class="board-tasklists">
        <app-task-list *ngFor="let taskList of board.TaskLists" [taskList]="taskList" [members]="board.User_Boards"></app-task-list>
    </div>
</div>
