.board-header {
    display: inline-flex;
    padding: 8px 4px 4px 8px;
}

.board-tasklists {
    display: flex;
    margin: inherit;
}

.board-name {
    border-radius: 3px;
    box-sizing: content-box;
    margin: 6px;
}

.board-name-text{
    font-size: 18px;
    height: 100%;
    padding: 0 12px;
}

.board-name-input {
    padding: 0 12px;
    margin: 0;
}

.invite {
    margin: 6px;
}

.members {
    display: inline-flex;
    margin: 6px;
}

.member {
    background-color: #dfe1e6;
    height: 36px;
    line-height: 36px;
    width: 36px;
    border-radius: 25em;
    text-align: center;
}

.member-initials {
    font-size: 12px;
    font-weight: 700;
}


// Task
.task-list {
    margin: 0 4px;
    background-color: #ebecf0;
    width: 272px;
}

.list-items {
    min-height: 10px;
}

.task-item {
    padding: 6px 0 2px;
}

.add-task {
    text-align: left;
    width: 100%;
}

.add-task-form{
    width: 100%;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-item:last-child {
    border: none;
}

.list-items.cdk-drop-list-dragging .task-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}