<header>
    <div class="header">
        <div class="navbar">
            <a [routerLink]="['/boards']" mat-icon-button color="white" aria-label="Back to home">
                <mat-icon class="material-icons md-light">home</mat-icon>
            </a>
        </div>
        <div class="img">
            <img src="../../assets/header-logo-spirit.d947df93bc055849898e.gif" alt="Trello" class="trello-logo">
        </div>
        <div class="logout">
            <button mat-icon-button (click)="logOut()">
                <mat-icon class="material-icons-outlined md-light">
                    logout
                </mat-icon>
            </button>
        </div>
    </div>
</header>
<mat-sidenav-container>
    <mat-sidenav position="end"
    #sidenav mode="side" [(opened)]="opened">
        <div>
            <button mat-button (click)="removeBoard(board.id)">Delete board</button>
        </div>
        <mat-divider></mat-divider>
        <div>
            <h3>Archived items</h3>
            <div *ngIf="archiveTasks">
                <div *ngFor="let task of archiveTasks.Tasks" class="task-item">
                    <mat-card>
                        {{task.title}}
                    </mat-card>
                    <div>
                        <form [formGroup]="archiveForm" (ngSubmit)="sendToBoard(task)">
                            <mat-form-field appearance="fill">
                                <mat-label>Task list name</mat-label>
                                <mat-select formControlName="taskListId">
                                  <mat-option *ngFor="let taskList of board.TaskLists" [value]="taskList.id">
                                    {{taskList.name}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button mat-button type="submit">Send to board</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div *ngIf="board" class="content">
            <div class="board-header">
                <div class="search">
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Search</mat-label>
                        <input matInput placeholder="Search" type="search" (keyup)="onKey($event.target)">
                    </mat-form-field>
                    <div class="finded-tasks" [class.active]="isActive">
                        <mat-selection-list [multiple]="false" *ngIf="findTasks">
                            <mat-list-option *ngFor="let task of findTasks.searchTasks" (click)="onClick(task.id, task.taskListId)">
                                {{task.title}}
                            </mat-list-option>
                            <mat-list-option *ngFor="let task of findTasks.searchUsers" (click)="onClick(task.id, task.taskListId)">
                                <span>
                                    {{task.title}}
                                    <mat-icon class="material-icons-outlined">
                                        east
                                    </mat-icon>
                                    {{task.Users[0].email}}
                                </span>
                            </mat-list-option>
                        </mat-selection-list>
                    </div>
                </div>
                <div class="board-name">
                    <h2 *ngIf="nameUpdated; else input" (click)="nameUpdated=!nameUpdated" class="board-name-text">{{board.name}}</h2>
                    <ng-template #input>
                        <mat-form-field appearance="outline" class="board-name-input">
                            <input type="text" matInput placeholder="Name" [(ngModel)]="board.name" (blur)="onBlur()">
                        </mat-form-field>
                    </ng-template>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div class="members">
                    <div *ngFor="let user of board.Users" class="member">
                        <span class="member-initials">{{user.email.charAt(0) | uppercase}}</span>
                    </div>
                </div>
                <div class="invite">
                    <app-invite-popover [boardId]="board.id">
                    </app-invite-popover>
                </div>
                <div class="menu">
                    <button mat-button (click)="sidenav.toggle()">Board actions</button>

                </div>
            </div>
            <div cdkDropListGroup class="board-tasklists">
                <app-task-list *ngFor="let taskList of board.TaskLists" [taskList]="taskList" [members]="board.Users" (archiveTask)="addTaskInArchive($event)"></app-task-list>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
