.task-list {
    margin: 0 4px;
    background-color: #ebecf0;
    width: 272px;
}

.btn-remove {
    color: #6b778c;
    position: absolute;
    top: 0;
    right: 0;
}

.list-items {
    min-height: 10px;
}

.task-item {
    padding: 6px 0 2px;
}

.add-task {
    text-align: left;
    width: 100%;
}

.add-task-form{
    width: 100%;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-item:last-child {
    border: none;
}

.list-items.cdk-drop-list-dragging .task-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}